#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  /* width: 100px; */
}

#home {
  position: relative;
  top: 10px;
  left: 400px;
  width: 600px;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

Button {
  margin: 5px;
}

/* body {
  position: relative;
} */



/* בקובץ ה-CSS שלך, לדוגמה styles.css */
.page-container {
  display: flex;
  justify-content: space-between;
}