#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

#home {
  position: relative;
  top: 10px;
  left: 400px;
  width: 600px;
}
header {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

Button {
  margin: 5px;
}
/* בקובץ ה-CSS שלך, לדוגמה styles.css */
.page-container {
  display: flex;
  justify-content: space-between;
}